form{
    margin:0 auto;
    max-width:95%;
    box-sizing:border-box;
    padding:40px;
    border-radius:5px; 
    background:RGBA(255,255,255,1);
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);  
  }

  .textbox{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-size:18px; 
    padding:10px;
    margin-bottom:30px;  
  }
  .textbox:focus{
    outline:none;
     border:rgba(24,149,215,1) 2px solid;
     color:rgba(24,149,215,1);
  }

  .button{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background:#90c843;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;  
    font-weight:400;
    font-size: 16pt;
    transition:background .4s;
    cursor:pointer;
  }
  /* Изменение фона кнопки при наведении */
  .button:hover{
    background:#80b438;
  }